body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the body takes up the full height of the viewport */
  background: linear-gradient(to left, #6a00f4, #1877f2);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500, 600, 700;
  font-style: normal;
  font-variation-settings: "wdth";
}

main {
  width: 570px;
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 0px;
  font-size: 1.7rem;
}

p {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Add some space between the inputs */
}

textarea {
  width: 200%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: "Noto Sans", sans-serif;
}

textarea:active,
textarea:focus {
  border: black;
}

button {
  margin-top: 10px; /* Add space between the inputs and the button */
  background: linear-gradient(to left, #6a00f4, #1877f2);
  border: 1px solid #1877f2;
  border-image: #1877f2;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 200%;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}

input:active,
input:focus {
  border: black;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  /* Adjustments for larger screens */
  main {
    width: 570px;
  }
}

@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  main {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  h2 {
    font-size: 1.4rem; /* Decrease font size for smaller screens */
  }

  input,
  textarea {
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}
